@use "../utilities/variables" as *;
//Mixins
@use "../utilities/mixin" as *;

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
    padding: 2rem 15;
}
.producto-card {
    background: $color-white;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    position: relative;
    cursor: pointer;
&:hover {
        transform: translateY(-15px);
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    }
}
