// HEADER Y NAVEGACIÓN

@use "../utilities/variables" as *;
//Mixins
@use "../utilities/mixin" as * ;
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:$color-bg-light;
    color: $color-black;
    @include flex;
}

