@use "../utilities/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: $color-bg-light;
    color: $color-black;
    @include flex-column;
    min-height: 100vh;
}