@use "../utilities/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-secondary;
    line-height: 1.6;
    background-color: $bg-body;
    color: $color-text-primary;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 1400px;
    margin: 40px auto;
    padding: 3rem 2rem;
    flex-grow: 1;

    h2 {
        font-family: $font-heading;
        font-size: 3rem;
        color: $color-text-primary;
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    p {
        font-size: 1.1rem;
        text-align: justify;
        margin-bottom: 20px;
    }
}